.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 0.5em;
}

.cardTitle {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    padding: 0.5em;
    text-align: center;
}

.cardSubtitle {
    font-weight: 500;
    line-height: 2.4rem;
    font-size: 1.2rem;
    letter-spacing: 0;
    padding: 0.5em;
    text-align: center;
}